*{
    padding: 0;
    margin: 0;
    font-family: serif;
    box-sizing: border-box;
}
.mainholder{
    width: 100%;
    flex-direction: row;
    display: flex;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000;
}
.navs{
    width: 350px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.navs a{
    text-decoration:none;
    color: #1e90ff;
}
.navs a:hover{
    color: #fff;
}
.navs a:hover{
    border-style: groove;
}
.logo{
    width: 120px;
    padding-right: 50px;
}
.btn{
    width: 150px;
    height: 40px;
    background-color: dodgerblue;
    border: none;
    color: snow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}
.btn:hover{
    background-color:teal;
    color: #fff;
}
.search-box p:hover{
    cursor: pointer;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box h1{
    color: #fff;
    display: flex;
    justify-content:center;
    align-items:center;
}
.search-box:hover > .search-text{
    padding: 0 6px;
    width: 240px;
    color: #fff;
}
.search-box:hover > .search-btn{
    background: #000;
}
.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.search-box img{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
